.search-block {
  display: flex;
  width: 100%;
  margin-top: 32px;
}

.app-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.header-section, .map-section {
  flex-direction: column;
  position: relative;
  display: flex;
  min-height: 280px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .header-section, .map-section {
    max-width: 100%;
    padding: 0 20px;
  }
  .map-section .leaflet-container {
    width: 100% !important;
  }
}
.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.header-section-container {
  position: relative;
  display: flex;
  margin-bottom: 52px;
  width: 556px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .header-section-container {
    margin-bottom: 40px;
  }
}
.heading {
  color: #fff;
  white-space: nowrap;
  font: 700 30px/150% Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .heading {
    white-space: initial;
  }
}
.search-inbox {
  /*border-radius: 16px;*/
  height: 52px;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  padding-left: 24px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #939393;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 400 18px/150% Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .search-inbox {
    max-width: 100%;
    flex-wrap: wrap;
    padding-left: 20px;
  }
}
.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 58px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.search-button {
  width: 58px;
  height: 58px;
  border-radius: 0px 16px 16px 0px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button-loading {
  height: 50px;
}
.search-button:hover{
  background-color: #3F3F3F;
}

.ip-info-absolute {
  flex-direction: column;
  position: absolute;
  display: flex;
  min-width: 1111px;
  top: -50px;
  align-items: center;
  z-index: 10001;
  height: 161px;
}
@media (max-width: 991px) {
  .ip-info-absolute {
    max-width: 100%;
    padding: 0 20px;
  }
}
.ip-info-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  max-width: 1111px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .ip-info-wrapper {
    max-width: 100%;
    margin-bottom: 40px;
  }
}
.ip-info-content {
  height: 86px;
  border-radius: 16px;
  background-color: #fff;
  padding: 32px 80px 42px 32px;
}
@media (max-width: 991px) {
  .ip-info-content {
    max-width: 100%;
    padding: 0 20px;
  }
}
.ip-info-row {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .ip-info-row {
    align-items: stretch;
    gap: 0px;
  }
}
.ip-info-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 32%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .ip-info-column {
    width: 100%;
  }
}
.ip-info {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .ip-info {
    margin-top: 14px;
  }
}
.ip-info-column-name {
  color: #939393;
  letter-spacing: 1.3px;
  font: 700 13px/150% Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.ip-info-column-value {
  color: #2b2b2b;
  margin-top: 12px;
  white-space: nowrap;
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
}
@media (max-width: 991px) {
  .ip-info-column-value {
    white-space: initial;
    margin-top: 4px;
  }
}
.span-4 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .span-4 {
    margin-top: 40px;
  }
}
.div-11 {
  color: #939393;
  letter-spacing: 1.3px;
  font: 700 13px/150% Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-12 {
  color: #2b2b2b;
  margin-top: 12px;
  font: 700 24px/30px Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.span-5 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .span-5 {
    margin-top: 40px;
  }
}
.div-13 {
  color: #939393;
  letter-spacing: 1.3px;
  font: 700 13px/150% Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-14 {
  color: #2b2b2b;
  margin-top: 12px;
  white-space: nowrap;
  font: 700 24px/150% Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
@media (max-width: 991px) {
  .div-14 {
    white-space: initial;
  }
}
.span-6 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .span-6 {
    margin-top: 40px;
  }
}
.div-15 {
  color: #939393;
  letter-spacing: 1.3px;
  font: 700 13px/150% Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.div-16 {
  color: #2b2b2b;
  margin-top: 12px;
  font: 700 24px/30px Inter, -apple-system, Roboto, Helvetica,
  sans-serif;
}
.img-3 {
  aspect-ratio: 0.82;
  object-fit: contain;
  object-position: center;
  width: 46px;
  overflow: hidden;
  align-self: center;
  margin-top: 200px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-3 {
    margin-top: 40px;
  }
}
